@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto&display=swap');

h1 {
   text-align: center;
  color: red;
   border: 1px solid black;
  border-radius: 10px
}
h2{color: darkred}
h3{color: #4f0000}
.image{text-align: center;}
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
   text-align: center
  }
p{font-family: Arial, sans-serif;}
h1{font-family: 'Inter', sans-serif;}
#convertedGrade {color: red;
                font-size: 25px;}
#result {text-align: center}

form{background-color: beige;
    border-radius: 20px;
       border: 2px solid #ccc;
margin-left: 120px;
   margin-right: 120px;
   
    }

body{padding: 12px;
     }
input[type="text"] {
  font-size: 20px;
  margin-left: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
select {
  font-size: 20px;
  padding: 1px;
  margin-left: 20px;
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;}

.button {
  width: 50%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #3e8e41;
}
  input[type="radio"] {
  margin: 0 20px;
}
.fa-solid {
  font-size: 20px;
  margin-left: 10px;
}

#auteur{font-size: 14px;
      }
